h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   font-family: "Space Grotesk", sans-serif;
}

p {
   font-size: 18px;
}

body {
   font-family: "Red Hat Display", sans-serif;
}

a {
   color: #11eea9;
}

a:hover {
   color: #0395fc;
}

.text-light-blue {
   color: #0395fc;
}

.bg-dark-blue {
   background: #011046;
}

#hero {
   width: 100%;
   height: 600px;
   background: url("../img/fondopixeles.png") center center;
   background-size: cover !important;
   position: relative;
   mix-blend-mode: lighten;
}

#hero:before {
   content: "";
   background: #011046;
   opacity: 0.3;
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
}

#hero h1 {
   font-size: 56px;
}

#hero h2 {
   color: #11eea9;
   font-size: 38px;
   font-weight: 500;
}

.title {
   font-size: 3rem;
}

#hero p {
   color: #fbfbfc;
}

@media (max-width: 991px) {
   #hero h1 {
      font-size: 32px;
      line-height: 36px;
   }

   #hero h2 {
      font-size: 28px;
      line-height: 32px;
   }

   #hero p {
      font-size: 18px;
      line-height: 24px;
   }
}

.images-logos {
   grid-gap: 24px;
}

.images-logos img {
   max-height: 50px;
   object-fit: contain;
}

ul.list-border-left {
   list-style: none;
}

ul.list-border-left li {
   font-size: 20px;
   border-left: 10px solid #0395fc;
   line-height: 24px;
   font-weight: 500;
}

.card-feature span {
   font-size: 48px;
   line-height: 52px;
}

.card-feature .hr {
   width: 3px;
   height: 75px;
   background: #0395fc;
}

.btn-contact {
   color: #011046;
   line-height: 24px;
   background-color: #11eea9;
   border-color: #11eea9;
   transition: 0.3s;
}

.btn-contact:hover {
   color: #011046;
   background-color: #0395fc;
   border-color: #0395fc;
}

.btn-contact:focus,
.btn-contact.focus {
   -webkit-box-shadow: none;
   box-shadow: none;
}

.btn-contact.disabled,
.btn-contact:disabled {
   color: #011046;
   background-color: #11eea9;
   border-color: #11eea9;
}

.btn-contact:not(:disabled):not(.disabled):active,
.btn-contact:not(:disabled):not(.disabled).active,
.show > .btn-contact.dropdown-toggle {
   color: #011046;
   background-color: #0395fc;
   border-color: #0395fc;
}
.btn-contact:not(:disabled):not(.disabled):active:focus,
.btn-contact:not(:disabled):not(.disabled).active:focus,
.show > .btn-contact.dropdown-toggle:focus {
   -webkit-box-shadow: none;
   box-shadow: none;
}

footer {
   padding-top: 40px;
   padding-bottom: 40px;
}

footer a {
   font-size: 18px;
}

/* Renzi Changes */

.firstCard {
   background-color: #011046;
   border-radius: 0.4rem;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 6px solid #11eea9;
}

.firstCard.last {
   background-color: #4f47c0;
}

.firstCard h6 {
   font-size: 2rem;
   font-weight: 700;
}

.firstCard p {
   font-size: 2rem;
   background-color: #4f47c0;
   border-radius: inherit;
   font-weight: 700;
}

.firstCard.last p {
   background-color: #011046;
}

.bg1 {
   background-color: #0a1968d6;
}

.categoryCard {
   border: 6px solid #11d9ed;
   border-radius: 12px;
   height: 100%;
}

.myCategories {
   row-gap: 2rem;
}

.categoryCard .top h6 {
   color: black;
   background-color: #11d9ed;
   font-weight: 600;
   padding-block: 0.2rem;
   padding-inline: 0.6rem;
   margin-inline: auto;
   width: fit-content;
   font-size: 1.1rem;
   border-radius: 0.5rem;
}

.categoryCard h5 {
   font-weight: 700;
   color: #ffffff;
   font-size: 1.7rem;
}

.categoryCard .center h6 {
   background-color: #11eea9;
   color: black;
}

.categoryCard .center p {
   font-size: 17px !important;
}

.categoryCard .center span,
.categoryCard .bottom span {
   font-weight: 700;
   font-size: 18px;
}

.categoryCard p,
.categoryCard ul {
   text-transform: none;
}

.categoryCard ul {
   list-style-type: none;
   text-align: start;
   width: 100%;
   font-size: 18px;
}

.categoryCard ul li::before {
   content: "✓";
   color: black;
   margin-right: 8px;
   font-weight: 700;
   background-color: #ffffff;
   line-height: 18px;
   padding-inline: 4px;
   border-radius: 50%;
   font-size: 13px;
}

.slick-dots {
   bottom: -40px !important;
}

.slick-prev::before,
.slick-next::before {
   font-size: 30px !important;
}

.slick-dots li.slick-active button::before,
.slick-dots li button::before {
   color: white !important;
}

.ajudas {
   row-gap: 2rem;
}

.carbon > div {
   display: flex;
   border-radius: 3px;
   border: 1px solid #00ffbc;
   justify-content: stretch;
   text-align: center;
   align-items: center;
}
.carbon span {
   text-wrap: nowrap;
   background-color: white;
   flex-basis: 50%;
   padding-inline: 0.4rem;
   color: #0e11a8;
   font-size: 15px !important;
}
.carbon a {
   text-wrap: nowrap;
   background-color: #00ffbc;
   flex-basis: 50%;
   font-weight: 700;
   padding-inline: 0.4rem;
   color: #0e11a8;
   font-size: 15px !important;
}

.carbon p {
   font-size: 16px;
}

.usefull a {
   color: #ffffff;
   text-decoration: underline;
   text-transform: uppercase;
   transition: 0.24s linear all;
   font-size: 17px;
}

.usefull a:hover {
   color: #011046;
   background-color: white;
}

@media screen and (max-width: 1700px) {
   .right-kit p {
      font-size: 22px;
   }
}

@media screen and (max-width: 1560px) {
   .right-kit p {
      font-size: 20px;
   }

   .categoryCard h5 {
      font-size: 1.3rem;
   }
}

@media screen and (max-width: 1450px) {
   .right-kit p {
      font-size: 19px;
   }
}

@media screen and (max-width: 1200px) {
   .firstCard h6 {
      font-size: 1.6rem;
   }
}

@media screen and (max-width: 750px) {
   .subtit {
      font-size: 18px;
   }
}

@media screen and (max-width: 600px) {
   .h1,
   h1 {
      font-size: 2rem;
   }

   .firstCard h6 {
      font-size: 1.4rem;
   }
}

@media screen and (max-width: 450px) {
   .h1,
   h1 {
      font-size: 1.7rem;
   }

   .right-kit p {
      font-size: 16px;
   }

   .subtit {
      font-size: 17px;
   }

   .categoryCard ul {
      font-size: 16px;
   }

   .usefull {
      gap: .6rem;
   }

   .usefull a {
      font-size: 16px;
   }
}
